{% extends "layout.html.twig" %}

{% block javascript %}
    <script src="js/d3.min.js"></script>
    <script src="js/automation.js"></script>
    <script src="js/power.js"></script>
    <script src="js/weather.js"></script>
{% endblock %}

{% block content %}
    <svg id="power" width="1200" height="700"></svg>
    <svg id="weather" width="1200" height="700"></svg>
{% endblock %}
