<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Automation</title>
        {% block styles %}
            <link href="/css/bootstrap.css" rel="stylesheet" media="screen" />
            <link href="/css/main.css" rel="stylesheet" media="screen" />
        {% endblock %}
    </head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <h3 class="muted">Automation</h3>
            </div>
            <hr />
            {% block content %}{% endblock %}
        </div>
        {% block javascript %}{% endblock %}
    </body>
</html>
